@font-face {
    font-family: 'helvetica-rounded-black';
    src: url('./helvetica-rounded-black.otf');
    font-style: normal;
}

* {
    font-family: 'helvetica-rounded-black', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./kirbylandscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}